# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Cambios realizados
-23/03/2024 - Se realizo diseño responsive de barra
-25/03/2024 - WeekOff Deleted due to errors in Header, New Code for Nav responsive and new Dependendencies to able to use icons